<!DOCTYPE html>
<html>
 <head> 
  <title>MEAL-PLAN</title>
 </head>
 <body>
   <h1>MEAL PLAN</h1>
   <p>Description</p>
   <a href="/recipe">Go back</a>
     <h3>Sign up!</h3>
<form action="/add_item" method="POST">
  <p>Theme: <input type="text" name="theme"></p>
  <p>Name: <input type="text" name="name"></p>
  <p>Key Ingrediants: <input type="text" name="ingrediants"></p>
  <input type="submit" class="btn btn-primary">
</form>

  
 </body>
</html>