
<h3>Sign In! </h3>
<form action="/sign-in" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>password: <input type="text" name="password"></p>
  <input type="submit" class="btn btn-primary">
</form>
<h3>Sign up!</h3>
<form action="/sign-up" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>password: <input type="text" name="password"></p>
  <input type="submit" class="btn btn-primary">
</form>


