<!DOCTYPE html>
<html>
 <head> 
  <title>MEAL-PLAN</title>
 </head>
 <body>
   <h1>MEAL PLAN</h1>
   
   <form action='/recipe' method='POST'>
     <input type="text" name="name" value="name">
     <input type="text" name="ingredients" value="ingredients">
     <input type="text" name="link" value="link">
     <input type="submit" value="Submit">
   </form>
   
     
  
 </body>
</html>