<!DOCTYPE html>
<html>
 <head> 
  <title>MEAL PLAN</title>
 </head>
 <body>
   <h2>RECIPE FOR TONIGHT</h2>
   <% @recipes.each do |recipe| %>
     <p><strong>Food:</strong> <%= recipe.name %></p>
     <p><strong>Ingredients:</strong> <%= recipe.key_ingrediants %></p>
     <p><strong>Website:</strong> <%= recipe.link %></p><br>
   <% end %>

   <a href="/recipe">SKIP RECIPE</a>
   
   <h2>ADD RECIPE</h2>
  <% if session[:user_id] %>
   <form action='/recipe' method='POST'>
     <input type="hidden" name="user_id" value="<%= @users.id %>">
     <input type="text" name="name" placeholder="Name">
     <input type="text" name="key_ingrediants" placeholder="Ingredients not to repeat">
     <input type="text" name="link" placeholder="Link">
     <input type="submit" value="Submit">
   </form>
   <% end %>
     
  
 </body>
</html>